* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

body {
  font-family: Arial, sans-serif;

}



/* ==== Container do Carro Esportivo ==== */
#carro-esportivo {
  
  display: flex;
  justify-content: center;
  align-items: center;
  background: #111;
  height: 100vh; /* centraliza verticalmente */
}

/* ==== Corpo do Carro ==== */
.carro {
  position: relative;
  width: 200px;
  height: 60px;
  background-color: #f44336;
  border-radius: 20px 20px 5px 5px;
}

/* ==== Teto ==== */
.teto {
  position: absolute;
  top: -30px;
  left: 40px;
  width: 120px;
  height: 30px;
  background-color: #c62828;
  border-radius: 15px 15px 0 0;
}

/* ==== Rodas ==== */
.roda {
  position: absolute;
  bottom: -15px;
  width: 30px;
  height: 30px;
  background: #333;
  border-radius: 50%;
  border: 3px solid #666;
}

.roda.esquerda {
  left: 20px;
}

.roda.direita {
  right: 20px;
}



.btn-top-left {
  position: fixed; /* fixa no viewport */
  top: 10px;      /* distância do topo */
  left: 10px;     /* distância da esquerda */
  padding: 12px 20px;
  font-size: 1rem;
  color: white;
  background: linear-gradient(90deg, #673ab7, #03a9f4);
  border: none;
  border-radius: 6px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(103, 58, 183, 0.4);
  transition: background 0.3s ease;
  z-index: 1000; /* fica na frente */
}

.btn-top-left:hover {
  background: linear-gradient(90deg, #03a9f4, #673ab7);
  box-shadow: 0 6px 12px rgba(3, 169, 244, 0.6);
}